html, body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#balanceContainer > h1 {
    font-size: 200px;
    font-family:'Franklin Gothic Medium';
    color: #C2D9FF;
    margin-top: 1em;
    margin-bottom: 0;
}

#balanceContainer > h2 {
    margin: 0;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium';
    color: #8E8FFA;
}

.bg-black {
    background-color: #070F2B;
}

#logo {
    width: 30px;
    height: 30px;
    border-radius: 4px;
}

.navbar-brand {
    padding: 14px 20px;
    font-size: 16px;
}

.navbar-nav {
    width: 100%;
}

.nav-item {
    padding: 6px 14px;
    text-align: center;
}

.nav-link {
    padding-bottom: 10px; 
}

.v-line {
    background-color: gray;
    width: 1px;
    height: 20px;
}

.navbar-collapse.collapse.in {
    display: block !important;
}

@media (max-width: 576px) {
    .nav-item {
        width: 100%;
        text-align: left;
    }

    .v-line {
        display: none;
    }
}


